@model AlphaMarketPDV.Models.Produto;

@{
    ViewData["Title"] = "Visualizar Produto";
}

<div class="card-header text-white bg-dark text-center h2">
    @ViewData["Title"]
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoLonga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoLonga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantMinima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeMedida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnidadeMedida.Descricao)
        </dd>
    </dl>
</div>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">
        <i class="fas fa-edit"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-undo"></i> Voltar
    </a>
</div>