@model AlphaMarketPDV.Models.ViewModels.FornecedorView.FornecedorViewModel;
@using AlphaMarketPDV.Models.Enums;

@{
    ViewData["Title"] = "Novo Fornecedor";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-header text-white bg-dark text-center h2">
    @ViewData["Title"]
</div>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="">
            <div class="form-control-plaintext">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.NomeFantasia" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.NomeFantasia" class="form-control" />
                        <span asp-validation-for="Fornecedor.NomeFantasia" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.RazaoSocial" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.RazaoSocial" class="form-control" />
                        <span asp-validation-for="Fornecedor.RazaoSocial" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Fornecedor.NomeRepresentante" class="col-form-label"></label>
                </strong>
                <input asp-for="Fornecedor.NomeRepresentante" class="form-control" />
                <span asp-validation-for="Fornecedor.NomeRepresentante" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Fornecedor.Endereco.Cep" class="col-form-label"></label>
                </strong>
                <input asp-for="Fornecedor.Endereco.Cep" class="form-control" />
                <span asp-validation-for="Fornecedor.Endereco.Cep" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Fornecedor.Endereco.Lougradouro" class="col-form-label"></label>
                </strong>
                <input asp-for="Fornecedor.Endereco.Lougradouro" class="form-control" disabled />
                <span asp-validation-for="Fornecedor.Endereco.Lougradouro" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.Endereco.Bairro" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.Endereco.Bairro" class="form-control" disabled />
                        <span asp-validation-for="Fornecedor.Endereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.Endereco.Cidade" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.Endereco.Cidade" class="form-control" disabled />
                        <span asp-validation-for="Fornecedor.Endereco.Cidade" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.Endereco.Uf" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.Endereco.Uf" class="form-control" disabled />
                        <span asp-validation-for="Fornecedor.Endereco.Uf" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-control-plaintext">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.EndComplemento" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.EndComplemento" class="form-control" />
                        <span asp-validation-for="Fornecedor.EndComplemento" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.EndNumero" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.EndNumero" class="form-control" />
                        <span asp-validation-for="Fornecedor.EndNumero" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Fornecedor.Site" class="col-form-label"></label>
                </strong>
                <input asp-for="Fornecedor.Site" class="form-control" />
                <span asp-validation-for="Fornecedor.Site" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.TipoEmpresa" class="col-form-label"></label>
                        </strong>
                        <select asp-for="Fornecedor.TipoEmpresa" asp-items="@Html.GetEnumSelectList<TipoPessoa>()" class="form-control">
                            <option value="">--Selecione--</option>
                        </select>
                    </div>
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.NumDocumento" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.NumDocumento" class="form-control" />
                        <span asp-validation-for="Fornecedor.NumDocumento" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <partial=""></partial>


            <div class="form-control-plaintext">
                <div class="card">
                    <div class="card-header">
                        <h5>Contato</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-control-plaintext">
                                    <strong>
                                        <label asp-for="Contato.Telefone" class="col-form-label"></label>
                                    </strong>
                                    <input asp-for="Contato.Telefone" class="form-control" />
                                    <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-control-plaintext">
                                    <strong>
                                        <label asp-for="Contato.Ramal" class="col-form-label"></label>
                                    </strong>
                                    <input asp-for="Contato.Ramal" class="form-control" />
                                    <span asp-validation-for="Contato.Ramal" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-control-plaintext">
                            <strong>
                                <label asp-for="Contato.Celular" class="col-form-label"></label>
                            </strong>
                            <input asp-for="Contato.Celular" class="form-control" />
                            <span asp-validation-for="Contato.Celular" class="text-danger"></span>
                        </div>

                        <div class="form-control-plaintext">
                            <strong>
                                <label asp-for="Contato.Email" class="col-form-label"></label>
                            </strong>
                            <input asp-for="Contato.Email" class="form-control" />
                            <span asp-validation-for="Contato.Email" class="text-danger"></span>
                        </div>






                        <div class="form-control-plaintext">
                            
                            <input type="submit"
                                   value="Incluir contato"
                                   class="btn btn-dark"
                                   asp-action="AdicionarContato"
                                   asp-controller="Fornecedores"
                                   asp-route-FornecedorViewModel="@Model" />

                        </div>







                        <hr />
                        <div>
                            <div class="card-body">
                                @if (Model.ListaContatos.Any())
                                {
                                    <table id="tab_fornecedores" class="table table-striped table-hover table-row-border compact">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Celular</th>
                                                <th>Telefone</th>
                                                <th>Ramal</th>
                                                <th>Email</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ListaContatos)
                                            {
                                                <tr>
                                                    <td valign="middle">
                                                        @item.Id
                                                    </td>
                                                    <td valign="middle">
                                                        @item.Celular
                                                    </td>
                                                    <td valign="middle">
                                                        @item.Telefone
                                                    </td>
                                                    <td valign="middle">
                                                        @item.Ramal
                                                    </td>
                                                    <td valign="middle">
                                                        @item.Email
                                                    </td>
                                                    <td>
                                                        <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir" class="btn btn-link">
                                                            <span style="color: Tomato;">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <h5 class="card-title">Nenhum contato adicionado.</h5>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-control-plaintext">
                <div class="row">
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.InscrEstadual" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.InscrEstadual" class="form-control" />
                        <span asp-validation-for="Fornecedor.InscrEstadual" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <strong>
                            <label asp-for="Fornecedor.InscrMunicipal" class="col-form-label"></label>
                        </strong>
                        <input asp-for="Fornecedor.InscrMunicipal" class="form-control" />
                        <span asp-validation-for="Fornecedor.InscrMunicipal" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Fornecedor.Observacoes" class="col-form-label"></label>
                </strong>
                <textarea asp-for="Fornecedor.Observacoes" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Fornecedor.Observacoes" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <div class="checkbox">
                    <strong>
                        <label><input asp-for="Fornecedor.Ativo" /> @Html.DisplayNameFor(model => model.Fornecedor.Ativo)</label>
                    </strong>
                </div>
            </div>

            <div class="form-control-plaintext">
                <input type="submit" value="Gravar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section ScriptPage{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/jquery-3.5.1.js"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/js/dataTables.buttons.min.js"></script>
        <script src="~/js/jszip.min.js"></script>
        <script src="~/js//pdfmake.min.js"></script>
        <script src="~/js/vfs_fonts.js"></script>
        <script src="~/js/buttons.html5.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.5.1.js"
                asp-fallback-src="~/js/jquery-3.5.1.js">
        </script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"
                asp-fallback-src="~/js/jquery.dataTables.min.js">
        </script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"
                asp-fallback-src="~/js/dataTables.buttons.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
                asp-fallback-src="~/js/jszip.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"
                asp-fallback-src="~/js//pdfmake.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"
                asp-fallback-src="~/js/vfs_fonts.js">
        </script>
        <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"
                asp-fallback-src="~/js/buttons.html5.min.js">
        </script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tab_fornecedores').DataTable(
                {
                    "order": [[1, "asc"]],
                    columnDefs: [
                        { targets: 0, className: 'dt-center' },
                        { targets: 1, className: 'dt-justify' },
                        { targets: 2, className: 'dt-center' },
                        { targets: 3, className: 'dt-center' }
                    ],
                    "language": {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Exibindo de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        },
                        "select": {
                            "rows": {
                                "_": "Selecionado %d linhas",
                                "0": "Nenhuma linha selecionada",
                                "1": "Selecionado 1 linha"
                            }
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "copyTitle": "Cópia bem sucedida",
                            "copySuccess": {
                                "1": "Uma linha copiada com sucesso",
                                "_": "%d linhas copiadas com sucesso"
                            }
                        }
                    },

                    dom: 'Blfrtip'
                }
            );
        });
    </script>
}