@model AlphaMarketPDV.Models.Fornecedor;

@{
    ViewData["Title"] = "Visualizar Fornecedor";
}

<div class="card-header text-white bg-dark text-center h2">
    @ViewData["Title"]
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscrEstadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InscrEstadual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscrMunicipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InscrMunicipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeRepresentante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeRepresentante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDocumento)
        </dd>
    </dl>
</div>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">
        <i class="fas fa-edit"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-undo"></i> Voltar
    </a>
</div>
