@model AlphaMarketPDV.Models.ViewModels.UsuarioFormViewModel
@using AlphaMarketPDV.Models.Enums

@{
    ViewData["Title"] = "Editar usuário";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-header text-white bg-dark text-center h2">
    @ViewData["Title"]
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <input type="hidden" asp-for="Usuario.Id" />
            <input type="hidden" asp-for="Usuario.FotoUsuario" />

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Usuario.Nome" class="col-form-label"></label>
                </strong>
                <input asp-for="Usuario.Nome" class="form-control" />
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Usuario.Login" class="col-form-label"></label>
                </strong>
                <input asp-for="Usuario.Login" class="form-control" />
                <span asp-validation-for="Usuario.Login" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Usuario.Senha" class="col-form-label"></label>
                </strong>
                <input asp-for="Usuario.Senha" class="form-control" />
                <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Usuario.LojaId" class="col-form-label"></label>
                </strong>
                <select asp-for="Usuario.LojaId" asp-items="@(new SelectList(Model.ListaLojas,"Id","Descricao"))" class="form-control">
                    <option value="">--Selecione--</option>
                </select>
            </div>

            <div class="form-control-plaintext">
                <strong>
                    <label asp-for="Usuario.Tipo" class="col-form-label"></label>
                </strong>
                <select asp-for="Usuario.Tipo" asp-items="@Html.GetEnumSelectList<TipoPerfil>()" class="form-control">
                    <option value="">--Selecione--</option>
                </select>
            </div>

            <div class="form-control-plaintext">
                <div class="checkbox">
                    <strong>
                        <label><input asp-for="Usuario.Ativo" /> @Html.DisplayNameFor(model => model.Usuario.Ativo)</label>
                    </strong>
                </div>
            </div>

            <div class="form-control-plaintext">
                <div class="custom-file">
                    @if (@Model.Usuario.FotoUsuario != null || @Model.Usuario.FotoUsuario == "")
                    {
                        <img src="~/images/usuarios/@Model.Usuario.FotoUsuario" height="150" width="150" asp-append-version="true" alt="Imagem anterior do produto" class="border" />
                        <strong>
                            <label class="col-form-label">Imagem atual</label>
                        </strong>
                    }
                </div>
            </div>

            <div class="form-control-plaintext">
                <div class="custom-file">
                    <img id="img-preview" src="~/images/usuarios/default.png" height="150" width="150" asp-append-version="true" alt="Nova imagem do usuário" class="border" />
                    <strong>
                        <label asp-for="Usuario.FotoUsuario" class="col-form-label"></label>
                    </strong>
                </div>
                <div class="form-control-plaintext">
                    <input asp-for="Usuario.FotoUsuarioLoad" class="custom-file-input" id="btn-upload-foto" accept="image/png, image/jpeg">
                    <span asp-validation-for="Usuario.FotoUsuario" class="text-danger"></span>
                </div>
            </div>

            <div class="form-control-plaintext">
                <input type="submit" value="Gravar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section ScriptPage{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <environment include="Development">
        <script src="~/js/jquery-3.2.1.slim.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.js"
                asp-fallback-src="~/js/jquery-3.2.1.slim.js"
                crossorigin="anonymous"
                integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=">
        </script>
    </environment>

    <script type="text/javascript">
        function leUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#btn-upload-foto").change(function () {
            leUrl(this);
        });
    </script>
}